:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

.Content-section{
  padding-top: 200px;
  padding-left: 100px;
  width: 500px;
}

.Contract-us:hover{
   border-top: 4px solid black;
  cursor: pointer;
}

.market:hover{
   border-top: 4px solid black;
  cursor: pointer;
}


.boxitem:hover{
  border-top: 4px solid black;
  cursor: pointer;
 
}
.headersection{
  width: 100%;
  height: 60vh;
  background-image: url(./public/HeaderSectionWebsite.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  
}
.Details-product{
  width: 1200px;
  height: 300px;
}

.Data-product{
  display: flex;
  justify-content: space-around;
}

.btn-getproductive{
  background-color: black;
  color: white;
  width: 200px;
  height: 50px;
  font-size: medium;
}
.navbar-section{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  font-size: large;  
  font-weight: bold
}
.content-branding{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60vh;
  background-color: rgb(249, 242, 229);
  padding-top: 200px;
}

.showimg-1{
  text-align: center;
  width: 500px;
  height: 500px;
  border-radius: 40px;
}
.showimg-2{
  text-align: center;
  width: 500px;
  height: 500px;
   border-radius: 40px;
}
.showimg-3{
  text-align: center;
  width: 500px;
  height: 500px;
   border-radius: 40px;
}



/*  */

.showimg-1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
   border-radius: 40px;
}
.showimg-2 img{
  width: 100%;
  height: 100%;
   object-fit: cover;
    border-radius: 40px;
}
.showimg-3 img{
  width: 100%;
  height: 100%;
   object-fit: cover;
    border-radius: 40px;
}


.branding-section{
  display: flex;
  justify-content: space-evenly;
  padding: 30px
}

.brading-section-1,.brading-section-2, .brading-section-3 , .brading-section-4{
  width: 300px;
  height: 120px;
}


.brading-section-1 img,.brading-section-2 img, .brading-section-3 img ,  .brading-section-4 img{
  
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.branding-font{
  margin-top: 20px;
  text-align: center;
}

.news-section{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 120px;
  padding: 30px;
}

.news-item{
  text-align: center;
}

.icon-img{
  width: 80px;
  height: 80px;
}

.footerwraper{
  width: 100%;
  padding: auto;
  margin-top: 50px;
  height: 30vh;
  background-color: rgb(252, 137, 71);
}

.content-footer{
  display: flex;
  justify-content: space-evenly;
  padding: 30px;

}
.icon-info{
  margin-top: 50px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
.fontcontent{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  row-gap: 100px;

  column-gap: 400px;
  grid-template-rows:auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
 
}
.tag{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.itmes-1{
  width: auto;
  height: auto;
 
  
}
.itmes-2{
  width: auto;
  height: auto;
}
.itmes-3{
  width: auto;
  height: auto;
}

.box-img{
  overflow: hidden;
}

.box-img img{
  transition: transform 0.5s;
}

.box-img img:hover{
  transform: scale(1.1);
  cursor: pointer;
}


.box-img{
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

.box-img img{
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-position{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.linktext{
  text-decoration: none;
  color: inherit;
}

.Product1-img{
 
  width: 1600px;
  height: 600px;
}
.Product1-img img{
  background-position: center;
  
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.flex-product{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.box-products-wrapper{
    display: flex;
    justify-content: space-evenly;
   

}
.Details-Products{
  padding: 50px;
  width: 200px;
}
.content-box-products{
 
  padding: 50px; 
}
.Content-product{
  width: 500px;
  height: 200px;

}
.option-1{
  display: flex;
  gap: 12px;
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 12px;
  cursor: pointer; 
}


.option-2{
  display: flex;
  gap: 12px;
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  
}


.option-3{
  display: flex;
  gap: 12px;
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  
}